body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: blueviolet;
    color: black;
  }
  
  header input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  #memeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  
  .meme-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  
  .meme-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .meme-card h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 18px;
  }
  